.App {
  text-align: center;
  background-image: url(./background.jpeg);
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.newRecipe {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
  height: 450px;
  justify-content: space-between;
  background-color: #fce9db;
  padding: 30px;
  border-radius: 5px;
}

.newRecipe input {
  height: 40px;
}

#addIngredients {
  padding: 10px;
  height: 50px;
}

#addInstructions {
  height: 90px;
  padding: 10px;
}

.field{
  border-radius: 7px;
  padding: 10px;
}