.App {
  text-align: center;
  background-image: url(./backgrounds/background_table.jpeg);
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}