.overlay {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
    cursor: pointer;
  }

.content {
        margin: 15% auto;
        background-color: #c0c5ce;
        border-radius: 0.5rem;
        width: 600px;
        padding: 2rem;
        position: relative;
  }

.exit-icon{
    right: 2px;
    position: absolute;
    top: 2px;
    width: 30px;
    height: 30px;
}

.yesBtn, .noBtn{
    padding: 10px 20px;
    margin: 15px;
}

