:root {
  --from-top: 10px;
  --from-side: 50%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  height: 650px;
  width: 1400px;
}

.container a {
  align-self: center;
}

.prev-arrow {
  position: absolute;
  left: -15px;
  top: 50%;
}

.next-arrow {
  position: absolute;
  right: -15px;
  top: 50%;
}

.page {
  width: 640px;
  height: 630px;
  margin: 10px 10px 10px 0px;
  position: absolute;
}

.page-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 10px;
  border-top-right-radius: 60px;
  background-color: aliceblue;
  -webkit-box-shadow: inset -54px 0px 31px -42px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset -54px 0px 31px -42px rgba(0, 0, 0, 0.57);
  box-shadow: inset -54px 0px 31px -42px rgba(0, 0, 0, 0.57);
  z-index: 9;
  border-color: #A9A9A9;
  border-style: solid;
  border-width: 1px;
  right: calc(var(--from-side));
  top: calc(var(--from-top));
}

h1 {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  font-size: 35px ;
  margin: 40px;
  color: black;
  text-shadow:
   -2px -2px 0 #F4E6EB,  
    1px -1px 0 #F4E6EB,
    -1px 1px 0 #F4E6EB,
     1px 1px 0 #F4E6EB;
}

.page-one img {
  max-height: 550px;
  margin: 10px 0px;
}

.page-one-back-1 {
  border-top-right-radius: 60px;
  background-color: #D3D3D3;
  z-index: 4;
  right: 50%;
  top: calc(var(--from-top) + 5px);
}

.page-one-back-2 {
  border-top-right-radius: 60px;
  background-color: #A9A9A9;
  z-index: 3;
  right: 50.4%;
  top: calc(var(--from-top) + 10px);
}

.page-one-back-3 {
  border-top-right-radius: 60px;
  background-color: #808080;
  z-index: 2;
  right: 50.8%;
  top: calc(var(--from-top) + 15px);
}

.page-one-back-4 {
  border-top-right-radius: 60px;
  background-color: #696969;
  z-index: 1;
  right: 51.2%;
  top: calc(var(--from-top) + 20px);
}

.recipeImage{
  height: 400px;
}

.page-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top-left-radius: 60px;
  background-color: aliceblue;
  z-index: 9;
  border-color: #A9A9A9;
  border-style: solid;
  border-width: 1px;
  left: calc(var(--from-side));
  top: calc(var(--from-top));
}

.page-two-back-1 {
  border-top-left-radius: 60px;
  background-color: #D3D3D3;
  z-index: 4;
  left: calc(var(--from-side) + 0.5%);
  top: calc(var(--from-top) + 5px);
}

.page-two-back-2 {
  border-top-left-radius: 60px;
  background-color: #A9A9A9;
  z-index: 3;
  left: calc(var(--from-side) + 1%);
  top: calc(var(--from-top) + 10px);
}

.page-two-back-3 {
  border-top-left-radius: 60px;
  background-color: #808080;
  z-index: 2;
  left: calc(var(--from-side) + 1.5%);
  top: calc(var(--from-top) + 15px);
}

.page-two-back-4 {
  border-top-left-radius: 60px;
  background-color: #696969;
  z-index: 1;
  left: calc(var(--from-side) + 1.9%);
  top: calc(var(--from-top) + 20px);
}

.page-two h3 {
  margin: 25px;
  font-size: 0.9em;
  max-height: 200px;
  overflow: auto;
}

.bottom-icons {
  position: absolute;
  bottom: 20px;
  right: 120px;
}

.bottom-icons svg {
  width: 40px;
  height: 30px;
}
